Repository wjdrk70/CodeHouse-Client, pull requests merged in 2021-04, with the labels that each got.

#8 Feat #005 main page dev
  .DS_Store
  front/.eslintrc
  front/assets/codelog.png
  front/assets/mainImg.jpeg
  front/assets/moon.svg
  front/assets/sun.svg
  front/client.tsx
  front/index.html
  front/layouts/App/index.tsx
  front/layouts/Home/index.tsx
  front/layouts/Home/styles.ts
  front/package-lock.json
  front/package.json
  front/pages/Login/index.tsx
  front/pages/Login/styles.ts
  front/tsconfig.json
  front/typings/custom.d.ts
  front/webpack.config.ts
Labels: Layout

#11 Feat #10 login page dev
  front/assets/githubLogin.png
  front/assets/kakao_login_large_wide.png
  front/package-lock.json
  front/pages/Login/index.tsx
  front/pages/Login/styles.ts
Labels: Layout

#16 join page 레이아웃 작업
  front/assets/refreshBtn.png
  front/components/RoomList.tsx
  front/layouts/App/index.tsx
  front/layouts/Home/index.tsx
  front/pages/Join/index.tsx
  front/pages/Join/styles.tsx
Labels: Layout

#14 Feat #12 modify style dev
  front/layouts/Home/index.tsx
  front/layouts/Home/styles.ts
Labels: fix

#18 Feat #17 create room dev
  front/assets/closeBtn.png
  front/components/CreateRoom.tsx
  front/components/CreateStyles.ts
  front/layouts/Home/index.tsx
  front/pages/Join/index.tsx
Labels: Layout

#19 mockServer 및 회원가입layout 목서버로그인 작업
  front/client.tsx
  front/layouts/App/index.tsx
  front/layouts/Home/index.tsx
  front/layouts/Home/styles.ts
  front/package-lock.json
  front/package.json
  front/pages/Login/index.tsx
  front/pages/Login/styles.ts
  front/webpack.config.ts
Labels: Auth, Layout, Mock

#24 modal fix,profile fix,join fix
  front/assets/icons/LogOutSVG.tsx
  front/assets/icons/ProfileSVG.tsx
  front/assets/log-out.svg
  front/assets/refresh.svg
  front/assets/user.svg
  front/components/CreateRoom.tsx
  front/components/CreateRoom/index.tsx
  front/components/CreateRoom/styles copy.ts
  front/components/CreateRoom/styles.ts
  front/components/ProfileIcon/index.tsx
  front/components/ProfileIcon/styles.ts
  front/components/ProfileMenu/index.tsx
  front/components/ProfileMenu/styles.ts
  front/components/RoomList.tsx
  front/layouts/App/index.tsx
  front/layouts/Home/index.tsx
  front/layouts/Home/styles.ts
  front/mock/handlers/user.ts
  front/pages/Join/index.tsx
  front/pages/Join/styles.ts
  front/pages/Join/styles.tsx
  front/pages/Login/index.tsx
  front/pages/SignUp/index.tsx
Labels: Layout, fix

#25 Feat #23 profile page dev
  front/assets/edit.png
  front/assets/maximize.png
  front/assets/plus0.png
  front/components/RoomList.tsx
  front/layouts/App/index.tsx
  front/pages/Profile/index.tsx
  front/pages/Profile/style.ts
Labels: Layout
